.card {
  box-shadow: 0 0 20px #3333;
  padding: 24px;
  border-radius: 20px;
  width: 100%;

  box-sizing: border-box;

  img {
    max-width: 100%;
    max-height: 200px;
  }
}

.title {
  font-size: 18px;
  font-weight: 300;
  margin: 0 0 8px;
}

.hashtags {
  font-size: 12px;
  color: #777;
  font-weight: 300;
  letter-spacing: 0.3px;
  margin: 0 0 8px;

  span {
    padding-right: 0.63em;
    cursor: pointer;

    &:hover {
      color: #8fdc32;
    }

    &::before {
      content: "#";
      color: #49afc2;
      opacity: 0.5;
      vertical-align: middle;
      display: inline-block;
      padding-right: 1px;
    }

    &:nth-child(3n+2)::before {
      color: #3A88C4;
    }

    &:nth-child(3n+3)::before {
      color: #9F439A;
    }
  }
}

.meta {
  font-size: 12px;
  color: #333;

  span {
    padding-right: 20px;
    cursor: pointer;
  }

  strong {
    font-weight: 300;
    color: #3A88C4;
    border-radius: 20px;
    display: inline-block;
    opacity: 0.6;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    &::after {
      content: " →";
      display: inline-block;
      transform: translateX(3px) translateY(1px);
    }
  }
}

.button {
  border : 1px solid white;
  background: #8fdc32;
  color: white;
  border-radius: 20px;
  padding: 5px 10px;
  margin-top: 5px;
  cursor: pointer;
  box-sizing: border-box;

  &:hover {
    border : 1px solid #8fdc32;
    background: none;
    color: #8fdc32;
  }
}